// Contacts

.page-contacts {
  &--section {
    background-color: $app-color--secondary;
    padding: $app-padding--large $app-padding--base;
    margin-bottom: $app-padding--small;
    width: 100%;
    > div,
    h2,
    h3,
    p,
    ul {
      flex-basis: 100%;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
    > ul {
      flex-basis: auto;
    }
    > h2,
    h3 {
      text-align: center;
      @include head_font;
    }
    > p {
      text-align: center;
      font-size: $app-fontsize--medium;
      &.h4 {
        @include head_font;
        font-size: $app-fontsize--large;
        margin-bottom: 40px;
        max-width: 440px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      @include text_font_b;
      color: $app-color--black;
    }
    .delimiter {
      margin-top: $app-padding--small;
      margin-bottom: $app-padding--base;
      display: flex;
      justify-content: center;
      .icon {
        color: $app-color--primary;
      }
    }
    &--order {
      width: 100%;
      max-width: 350px;
      margin: 0 auto;
      margin-top: $app-padding--large;
      margin-bottom: $app-padding--base;
    }
    &--map {
      padding: 0;
      width: 100%;
      margin-top: $app-padding--large;
      margin-bottom: $app-padding--large;
    }
  }

  &--content {
    max-width: 440px;
  }

  @media (min-width: 520px) {
    &--sections {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;

      .page-contacts--section {
        margin: 0 10px 20px;

        &:nth-child(-n + 4) {
          width: calc(50% - 20px);
          margin: 0 10px 20px;
        }
      }
    }
  }

  @media (min-width: 768px) {
    .page-contacts--section--order {
      max-width: 650px;

      .form-field-text {
        margin: 0 5px 20px;
        flex-basis: calc(50% -10px);
      }

      .form-privacy {
        margin: 0 5px 20px;
        flex-basis: calc(100% -10px);
      }

      .form-action {
        width: 50%;
        margin-left: 0;
        margin-right: auto;
      }
    }

    .container--contact-map {
      max-width: 100%;
      padding: 0;

      .page-contacts--section--map {
        margin: 30px 0 0;
      }
    }
  }

  @media (min-width: 1100px) {
    .page-contacts--section--full {
      width: calc(50% - 20px);
      margin-top: 100px;
      margin-bottom: 100px;
    }

    .page-contacts--section--order {
      margin-top: 0;
      margin-bottom: 70px;
    }
  }
}
