// Contacts

.page-contacts {
  &--sections {
    @media (min-width: map_get($grid-breakpoints, sm)) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -10px;
    }
  }

  @media (min-width: map_get($grid-breakpoints, md)) {
    .container--contact-map {
      max-width: 100%;
      padding: 0;

      .page-contacts--section--map {
        margin: 30px 0 0;
      }
    }
  }

  &--section {
    background-color: $app-color--secondary;
    padding: $app-padding--large $app-padding--base;
    margin-bottom: $app-padding--small;
    width: 100%;
    @media (min-width: map_get($grid-breakpoints, sm)) {
      margin: 0 $app-padding--small $app-padding--medium;
      &:nth-child(-n + 4) {
        width: calc(50% - 20px);
        margin: 0 $app-padding--small $app-padding--medium;
      }
    }
    @media (min-width: map_get($grid-breakpoints, md)) {
      .container--contact-map {
        padding: 0;
      }
    }

    > div,
    h2,
    h3,
    p,
    ul {
      flex-basis: 100%;
      max-width: 350px;
      margin-left: auto;
      margin-right: auto;
    }
    > ul {
      flex-basis: auto;
    }
    > h2,
    h3 {
      text-align: center;
      @include head_font;
    }
    > p {
      text-align: center;
      font-size: $app-fontsize--medium;
      &.h4 {
        @include head_font;
        font-size: $app-fontsize--large;
        margin-bottom: 40px;
        max-width: 440px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }
    a {
      @include text_font_b;
      color: $app-color--black;
    }
    .delimiter {
      margin-top: $app-padding--small;
      margin-bottom: $app-padding--base;
      display: flex;
      justify-content: center;
      .icon {
        color: $app-color--primary;
      }
    }
    &--order {
      width: 100%;
      margin: $app-padding--large auto $app-padding--base;
      @media (min-width: map_get($grid-breakpoints, md)) {
        max-width: 350px;
      }
      @media (min-width: map_get($grid-breakpoints, lg)) {
        margin-top: 0;
        margin-bottom: $app-padding--largest;
      }
    }
    &--map {
      padding: 0;
      width: 100%;
      margin-top: $app-padding--large;
      margin-bottom: $app-padding--large;
      @media (min-width: map_get($grid-breakpoints, md)) {
        margin: $app-padding--large 0 0;
      }
    }

    &--full {
      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: calc(50% - 20px);
        margin-top: 100px;
        margin-bottom: 100px;
      }
    }
  }

  &--content {
    max-width: 440px;
  }

  .container--contact-map {
    .page-contacts--section {
      width: 100%;
      margin: $app-padding--large 0;
    }
  }
}
