// Index page

body.index {

  // Services

  .index-services {
    margin-top: var(--padding-large);
    margin-bottom: var(--padding-large);
    &--wrapper {
      @include container-md;
      @include container-lg;
      @media (min-width: map_get($grid-breakpoints, sm)) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
      }
    }

    &--title {
      text-align: center;
      font-size: var(--fontsize-h1);
      margin-bottom: var(--padding-base);
      flex-basis: 100%;
    }
    &--delimiter {
      text-align: center;
      color: var(--color-primary);
      flex-basis: 100%;
      @media (min-width: map_get($grid-breakpoints, sm)) {
        margin-bottom: var(--padding-medium);
      }
    }
    &--item {
      margin-bottom: var(--padding-base);
      @media (min-width: map_get($grid-breakpoints, sm)) {
        flex-basis: calc(50% - 10px);
      }
      &--title {
        padding: var(--padding-medium) var(--padding-largest);
        color: var(--color-white);
        background-color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fontsize-h3);
        @include head_font;
        .icon {
          width: 12px;
        }
      }
      &--content {}
      &--image {
        margin-top: var(--padding-small);
        max-height: 300px;
        overflow: hidden;
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &--description {
        padding: var(--padding-base);
        font-size: var(--fontsize-smaller);
        line-height: 1.6;
      }
      &--link {
        padding: 0 var(--padding-base) var(--padding-base);
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .index-content {

    .index {
      &-title {
        margin-top: var(--padding-large);
        margin-bottom: var(--padding-large);
        font-size: var(--fontsize-big);
      }

      &-image {
        width: 100%;
      }

      // About

      &-about {
        background-image: url('images/block-bg.png');
        background-size: cover;
        background-position: center;
        background-color: var(--color-secondary);
        display: flex;
        flex-wrap: wrap;
        @media (min-width: map_get($grid-breakpoints, lg)) {
          padding-top: var(--padding-large);
          padding-bottom: var(--padding-large);
        }
        @media (min-width: map_get($grid-breakpoints, xl)) {
          padding-top: var(--padding-largest);
          padding-bottom: var(--padding-largest);
        }
        &--title {
          flex-basis: 100%;
          font-size: var(--fontsize-h2);
          text-align: center;
          margin: 0;
          padding: var(--padding-large) 0 0;
          @include container-sm;
          @include container-md;
          @include container-lg;
        }
        .delimiter {
          flex-basis: 100%;
          color: var(--color-primary);
          @include container-sm;
          @include container-md;
          @include container-lg;
        }
        p {
          padding: 0 0 var(--padding-large);
          flex-basis: 100%;
          @include head_font;
          text-align: center;
          @include container-sm;
          @include container-md;
          @include container-lg;
          @media (min-width: map_get($grid-breakpoints, xl)) {
            font-size: var(--fontsize-large);
          }
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      // About image

      &-about--image {
        width: 100%;
        max-height: 220px;
        display: flex;
        @media (min-width: map_get($grid-breakpoints, sm)) {
          max-height: 180px;
        }
        img {
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      &-about--add {
        padding-top: var(--padding-medium);
        padding-bottom: var(--padding-medium);
        @include container-sm;
        @include container-md;
        @include container-lg;
        @media (min-width: map_get($grid-breakpoints, sm)) {
          margin-left: 0;
          margin-right: 0;
        }
        &--top {
          @include container-md;
          text-align: center;
          @media (min-width: map_get($grid-breakpoints, xl)) {
            margin-top: var(--padding-largest);
          }
          p {
            font-size: var(--fontsize-small) !important;
          }
        }
        &--wrapper {
          @include justify;
          @include container-md;
          @include container-lg;
        }
        &--item {
          @media (min-width: map_get($grid-breakpoints, sm)) {
            flex-basis: calc(50% - 20px);
            margin-bottom: var(--padding-medium);
            margin-left: 10px;
            margin-right: 10px;
          }
        }
        h3,
        .delimiter {
          color: var(--color-primary)
        }
        p {
          font-size: var(--fontsize-smaller);
          line-height: 1.6;
          &:last-child {
            margin-bottom: 0;
          }
        }
        ul {
          text-align: left;
          li {
            display: block;
          }
        }
      }

      // About resume

      &-about--resume {
        margin-bottom: var(--padding-medium);
        @include container-sm;
        @include container-md;
        &--wrapper {
          background-color: var(--color-primary);
          text-align: center;
          padding: var(--padding-base);
        }
        &--wrap {
          padding: var(--padding-base);
          border: 1px solid var(--color-secondary);
        }
        .delimiter {
          color: var(--color-white);
        }
        p {
          color: var(--color-white);
          @include head_font;
          font-size: var(--fontsize-large);
        }
      }

      // Contacts

      &-contacts {
        margin-top: var(--padding-medium);
        margin-bottom: var(--padding-medium);
        @include container-sm;
        @include container-md;
        @include container-lg;
        @media (min-width: map_get($grid-breakpoints, lg)) {
          margin-top: var(--padding-large);
          margin-bottom: var(--padding-large);
        }
        @media (min-width: map_get($grid-breakpoints, xl)) {
          @include container-wide;
          margin-top: var(--padding-largest);
          margin-bottom: var(--padding-largest);
        }
        &--title {
          font-size: var(--fontsize-h1);
          text-align: center;
        }
        &--delimiter {
          text-align: center;
          .icon {
            color: var(--color-primary);
          }
        }
        &--items {
          text-align: center;
          background-color: var(--color-secondary);
          padding: var(--padding-largest) var(--padding-medium) var(--padding-large);
        }
        &--phone {
          @extend .footer--contacts-phone;
          margin-bottom: 10px;
          a {
            @include text_font_b;
            color: var(--color-black);
          }
        }
        &--email {
          @extend .footer--contacts-email;
          margin-bottom: 10px;
          a {
            @include text_font_b;
            color: var(--color-black);
          }
        }
        &--address {
          @extend .footer--contacts-address;
        }
      }

      // Subscribe

      &-subscribe {
        background-color: var(--color-primary);
        padding: var(--padding-medium);
        @include container-md;
        @include container-lg;
        @media (min-width: map_get($grid-breakpoints, sm)) {
          margin-bottom: var(--padding-medium);
        }
        @media (min-width: map_get($grid-breakpoints, xl)) {
          margin-top: var(--padding-large);
          margin-bottom: var(--padding-large);
        }
        &--wrapper {
          border: 1px solid var(--color-secondary);
          padding: var(--padding-large) var(--padding-medium);
          color: var(--color-white);
          .form--title {
            color: var(--color-white);
            margin-bottom: 0;
          }
          .form--description {
            font-size: var(--fontsize-medium);
          }
          .form-field {
            input,
            textarea {
              background-color: var(--color-white);
            }
          }
          .form-privacy {
            label {
              color: var(--color-white);
              a {
                color: var(--color-white);
              }
              &:before {
                background-color: var(--color-white);
              }
              .icon {
                color: var(--color-black);
              }
            }
          }
        }
      }

    }

  }


}
