// Index page

body.index {

  .index-services {
    margin-top: $app-padding--large;
    margin-bottom: $app-padding--large;
    &--title {
      text-align: center;
      font-size: $app-fontsize--h1;
      margin-bottom: $app-padding--base;
    }
    &--delimiter {
      text-align: center;
      color: $app-color--primary;
    }
    &--item {
      margin-bottom: $app-padding--base;
      &--title {
        padding: $app-padding--medium $app-padding--largest;
        color: $app-color--white;
        background-color: $app-color--primary;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: $app-fontsize--h3;
        @include head_font;
        .icon {
          width: 12px;
        }
      }
      &--content {}
      &--image {
        margin-top: $app-padding--small;
      }
      &--description {
        padding: $app-padding--base;
        font-size: $app-fontsize--smaller;
      }
      &--link {
        padding: 0 $app-padding--base $app-padding--base;
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .index-content {

    .index {
      &-title {
        margin-top: $app-padding--large;
        margin-bottom: $app-padding--large;
        font-size: $app-fontsize--big;
      }

      &-image {
        width: 100%;
      }

      // About

      &-about {
        background-color: $app-color--secondary;
        display: flex;
        flex-wrap: wrap;
        &--title {
          flex-basis: 100%;
          font-size: $app-fontsize--h2;
          text-align: center;
          margin: 0;
          padding: $app-padding--large 0 0;
        }
        .delimiter {
          flex-basis: 100%;
          color: $app-color--primary;
          text-align: center;
        }
        p {
          padding: 0 0 $app-padding--large;
          flex-basis: 100%;
          @include head_font;
          text-align: center;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      // About image

      &-about--image {
        width: 100%;
      }
      &-about--add {
        padding-top: $app-padding--medium;
        padding-bottom: $app-padding--medium;
        h3,
        .delimiter {
          text-align: center;
          color: $app-color--primary
        }
        p {
          font-size: $app-fontsize--smaller;
          line-height: 1.6;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      // About resume

      &-about--resume {
        margin-bottom: $app-padding--medium;
        &--wrapper {
          background-color: $app-color--primary;
          text-align: center;
          padding: $app-padding--base;
        }
        &--wrap {
          padding: $app-padding--base;
          border: 1px solid $app-color--secondary;
        }
        .delimiter {
          color: $app-color--white;
        }
        p {
          color: $app-color--white;
          @include head_font;
          font-size: $app-fontsize--large;
        }
      }

      // Contacts

      &-contacts {
        margin-top: $app-padding--medium;
        margin-bottom: $app-padding--medium;
        &--title {
          font-size: $app-fontsize--h1;
          text-align: center;
        }
        &--delimiter {
          text-align: center;
          .icon {
            color: $app-color--primary;
          }
        }
        &--items {
          text-align: center;
          background-color: $app-color--secondary;
          padding: $app-padding--large $app-padding--medium;
        }
        &--phone {
          @extend .footer--contacts-phone;
          margin-bottom: 10px;
          a {
            @include text_font_b;
            color: $app-color--black;
          }
        }
        &--email {
          @extend .footer--contacts-email;
          margin-bottom: 10px;
          a {
            @include text_font_b;
            color: $app-color--black;
          }
        }
        &--address {
          @extend .footer--contacts-address;
        }
      }

      // Subscribe

      &-subscribe {
        background-color: $app-color--primary;
        padding: $app-padding--medium;
        &--wrapper {
          border: 1px solid $app-color--secondary;
          padding: $app-padding--large $app-padding--medium;
          color: $app-color--white;
          .form--title {
            color: $app-color--white;
            margin-bottom: 0;
          }
          .form--description {
            font-size: $app-fontsize--medium;
          }
          .form-field {
            input,
            textarea {
              background-color: $app-color--white;
            }
          }
          .form-privacy {
            label {
              color: $app-color--white;
              a {
                color: $app-color--white;
              }
              &:before {
                background-color: $app-color--white;
              }
              .icon {
                color: $app-color--black;
              }
            }
          }
        }
      }

    }

  }


}
