// Scroll to top

#scroll-to-top {
  background-color: $app-color--primary;
  color: $app-color--black;
  width: 32px;
  height: 32px;
  display: block;
  position: fixed;
  bottom: 30px;
  right: calc(50% - 16px);
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
  &.active {
    opacity: 0.6;
    visibility: visible;
  }
  &:hover {
    background-color: $app-color--active-hover;
    opacity: 1;
    a {
      color: $app-color--white;
    }
  }
  a {
    color: $app-color--black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    margin-top: -2px;
  }
}

// Breadcrumb

.breadcrumb {
  background: transparent;
  margin-bottom: 0;
  font-size: $app-fontsize--smaller;
  display: flex;
  flex-wrap: nowrap;
  overflow: hidden;
  position: relative;
  @include nowrap;
  &:after {
    content: "";
    position: absolute;
    display: block;
    right: 0;
    top: 0;
    height: 100%;
    width: 40px;
    background: linear-gradient(
      to left,
      $app-color--white 50%,
      transparent 100%
    );
  }
  &-item {
    display: flex;
    white-space: nowrap;
    color: $app-color--primary;
    &:before {
      color: $app-color--primary !important;
      background-image: none;
      width: initial;
      min-width: initial;
      height: initial;
      margin: 0;
    }
    a {
      color: $app-color--primary;
      text-decoration: none;
      &:hover {
        color: $app-color--black;
      }
    }
  }
  &--wrapper {
    width: 100%;
  }

  @media (min-width: map_get($grid-breakpoints, sm)) {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  @media (min-width: map_get($grid-breakpoints, lg)) {
    padding-top: 40px;
    padding-bottom: 30px;
  }
}

// Tables

.table {
  thead {
    th {
      @include text_font_b;
    }
    tr {
      td {
      }
    }
  }
}

// Modals

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  &.show {
    .modal-dialog {
      margin: $app-navigation-height 0 0;
      opacity: 1;
      width: 100%;
      @media (min-width: map-get($grid-breakpoints, sm)) {
        width: auto;
      }
    }
  }
  &-backdrop {
    background-color: transparent;
    &.show {
      //opacity: 0.6;
    }
  }
  &-dialog {
    position: relative;
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    min-height: calc(100vh - 50px);
  }
  button.close {
    outline: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    border: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    padding: 0;
    cursor: pointer;
    color: $app-color--primary;
    background-color: transparent;
  }

  &-content {
    position: relative;
    border-radius: 0;
    border: 0;
    @include shadow;
    background-color: $app-color--white;
    padding: $app-padding--large $app-padding--medium;
    min-height: 100%;
    .form {
      &--form {
      }

      &--title {
        margin-top: $app-padding--base;
        margin-bottom: $app-padding--base;
      }
      &--description {
      }

      &--fields {
        display: flex;
        flex-wrap: wrap;
        .form-field {
          flex-basis: 100%;
          margin: 0 0 $app-padding--small;
          input,
          textarea {
            border-color: $app-color--secondary;
            background-color: $app-color--secondary;
          }
        }
      }
      &--privacy {
        a {
          color: $app-color--black;
        }
      }
      &--actions {
        display: flex;
        .form-action {
          flex-basis: 100%;
          margin-left: 0;
          margin-right: 0;
          display: flex;
          justify-content: center;
        }
      }
    }
  }
}

// Pages

.page {
}

.error-404 {
  background-image: url("images/404.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: $app-color--white;
  background-color: $app-color--black;
  &--wrapper {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 100px;

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding-top: 200px;
      padding-bottom: 200px;
    }

    h1 {
      font-size: 100px;
      color: $app-color--white;
      line-height: 1;
      margin-bottom: 0;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 130px;
      }
    }
    p {
      color: $app-color--white;
      @include head_font_i;
      font-size: $app-fontsize--large;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: 30px;
        line-height: 36px;
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        margin-bottom: 45px;
        br {
          display: none;
        }
      }
    }
  }
}

// Лого вертикальное
.logo-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .icon,
  img {
    margin-bottom: 5px;
  }
  span {
    text-align: center;
    flex-basis: 100%;
    @include head_font;
    font-size: $app-fontsize--smaller;
  }
}

// Заглушка для загрузки страницы
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $app-color--active;
  color: $app-color--white;
  z-index: 99999;
  overflow: hidden;
  &.active {
    height: 100vh;
  }
  .icon {
    font-size: 80px;
    animation: blink linear 1s infinite;
  }
}

.delimiter {
  margin: $app-padding--small 0;
  .icon {
    width: 74px;
  }
}

.mouse-scroller {
  .icon {
    width: 18px;
  }
}

// Slider Navigation

.slider--navigation {
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .owl-prev,
  .owl-next {
    background-image: url("images/arrow.svg");
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    background-color: $app-color--secondary;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    span {
      display: none;
    }
    &.disabled {
      background-color: transparent;
    }
    &:hover {
      background-color: $app-color--primary;
    }
  }
  .owl-prev {
  }
  .owl-next {
    transform: rotate(180deg);
  }
}

.slider--counter {
  @include head_font;
  font-size: $app-fontsize--large;
  color: $app-color--primary;
  span.current,
  span.total {
    margin-right: 10px;
    margin-left: 10px;
  }
  span.current {
    color: $app-color--active;
  }
  span.total {
  }
}

.slider--dots {
  width: calc(100% - 200px);
  position: absolute;
  text-align: center;
  height: 48px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .owl-dot {
    display: inline-flex;
    width: 5px;
    height: 5px;
    background-color: $app-color--secondary;
    border-radius: 50%;
    margin-right: 3px;
    margin-left: 3px;
    padding: 0;
    border: 0;
    &.active {
      background-color: $app-color--primary;
    }
    &:hover {
      background-color: $app-color--active;
    }
  }
}
