// Breadcrumb

.breadcrumb {
  //background: transparent;
  //margin-bottom: 0;
  //font-size: $app-fontsize--small;
  //display: inline-block;
  //&-item {
  //  display: inline;
  //}
  //&--wrapper {
  //  background-color: $app-color--background;
  //  width: 100%;
  //}
}

// Tables

.table {
  thead {
    tr {
      td {}
    }
  }
}

// Modals

.modal {
  /*
  display: flex;
  justify-content: center;
  align-items: center;
  &.show {
    .modal-dialog {
      margin-top: $app-navigation-height +2;
      opacity: 1;
    }
  }
  &-backdrop {
    background-color: $app-color--primary;
    &.show {
      opacity: 0.6;
    }
  }
  &-dialog {
    position: relative;
    pointer-events: auto;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
  }
  button.close {
    outline: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border-radius: 0;
    border: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    z-index: 1;
    padding: 0;
    font-weight: 300;
    font-size: 2em;
    cursor: pointer;
    color: $app-color--primary;
    background-color: transparent;
    opacity: 0.3;
    filter: grayscale(1);
    @media (max-width: map_get($grid-breakpoints, md)) {
      opacity: 1;
      filter: grayscale(0);
    }
    &:hover {
      opacity: 1;
      filter: grayscale(0);
    }
  }

  &-content {
    position: relative;
    border-radius: 0;
    border: 0;
    @include shadow;
    background-color: $app-color--white;
    padding: $app-padding--base;

    .custom-form {
      &--form {}

      &--title {
        margin-top: $app-padding--small;
        margin-bottom: $app-padding--base;
      }

      &--fields {
        display: flex;
        flex-wrap: wrap;
        .form-field {
          flex-basis: 100%;
          margin: 0 0 $app-padding--small+5;
        }
      }
      &--privacy {}
      &--actions {
        display: flex;
        .form-action {
          flex-basis: 100%;
          margin-left: 0;
          margin-right: 0;
          display: flex;
          justify-content: center;
        }
      }
    }

  }
  */
}

// Pages

.page {

}

.error-404 {
}

.logo-vertical {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  .icon,
  img {
    margin-bottom: 5px;
  }
  span {
    text-align: center;
    flex-basis: 100%;
    @include head_font;
    font-size: $app-fontsize--smaller;
  }
}
