// Footer

.mobile-menu--footer,
.footer {
  background-color: var(--color-black);
  color: var(--color-white);
  text-align: center;
  width: 100%;

  a {
    color: var(--color-primary);
    text-decoration: none;
    &:hover {
      text-decoration: underline;
      color: var(--color-secondary);
    }
  }

  &--wrapper {
    @media (min-width: map_get($grid-breakpoints, xl)) {
      display: flex;
      justify-content: space-between;
      padding-top: 80px;
      padding-bottom: 50px;
      padding-right: 180px;
    }
  }

  &--logo {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
    @media (min-width: map_get($grid-breakpoints, xl)) {
      flex-basis: 207px;
      padding: 0;
    }
  }

  &--menu,
  &--rooms {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);

    @media (min-width: map_get($grid-breakpoints, sm)) {
      max-width: 440px;
      margin-left: auto;
      margin-right: auto;
      padding-bottom: var(--padding-large);
    }

    @media (min-width: map_get($grid-breakpoints, lg)) {
      max-width: 550px;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: 0;
    }

    &--title {
      opacity: 0.5;
      text-transform: uppercase;
      font-size: var(--fontsize-smaller);

      @media (min-width: map_get($grid-breakpoints, sm)) {
        font-size: var(--fontsize-medium);
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        text-align: left;
      }
    }
    &--items {
      ul {
        margin: var(--padding-medium) 0 0;
        padding: 0;
        list-style: none;
        text-align: center;
        display: flex;
        flex-wrap: wrap;

        @media (min-width: map_get($grid-breakpoints, sm)) {
          display: flex;
          flex-wrap: wrap;
        }

        @media (min-width: map_get($grid-breakpoints, xl)) {
          flex-direction: column;
        }

        li {
          flex-basis: 100%;
          text-align: center;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;

          @media (min-width: map_get($grid-breakpoints, sm)) {
            flex-basis: 50%;
            text-align: left;
            justify-content: flex-start;
          }

          @media (min-width: map_get($grid-breakpoints, lg)) {
            flex-basis: 33%;
          }

          @media (min-width: map_get($grid-breakpoints, xl)) {
            flex-basis: 100%;
          }

          &:before {
            display: none;
          }
          a {
            @include head_font;

            @media (min-width: map_get($grid-breakpoints, sm)) {
              font-size: var(--fontsize-large);
            }

            &.active {
              color: var(--color-secondary);
              text-decoration: underline;
            }

            + ul {
              flex-basis: 100%;

              @media (min-width: map_get($grid-breakpoints, sm)) {
                display: none;
              }

              li {
                a {
                  @include text_font;
                  font-size: var(--fontsize-smaller);
                }
              }
            }
          }
        }
      }
    }
  }

  &--rooms {
    @media (min-width: map_get($grid-breakpoints, lg)) {
      max-width: 730px;
    }
  }

  &--menu {
    border-top: 1px solid var(--color-border-dark);

    @media (min-width: map_get($grid-breakpoints, sm)) {
      border-top: none;
    }
  }

  &--contacts {
    padding-top: var(--padding-medium);
    color: var(--color-primary);
    border-top: 1px solid var(--color-border-dark);

    @media (min-width: map_get($grid-breakpoints, md)) {
      padding: var(--padding-medium) 0;
    }

    @media (min-width: map_get($grid-breakpoints, xl)) {
      padding: 0;
      border-top: none;
    }

    &-wrapper {
      @media (min-width: map_get($grid-breakpoints, md)) {
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        flex-direction: column;
        max-width: 160px;
      }
    }

    &-phone {
      margin-bottom: 10px;
      font-size: var(--fontsize-medium);
      @include text_font_b;
      a {
        text-decoration: none;
        border-bottom: 1px solid var(--color-primary);
        display: inline-flex;
        align-items: center;
        line-height: 1.6;
        &:hover {
          text-decoration: none;
          border-bottom-color: transparent;
        }
        &:before {
          content: "";
          display: block;
          width: 13px;
          height: 13px;
          background-image: url("images/phone.svg");
          background-size: 13px;
          background-repeat: no-repeat;
          background-position: center;
          margin-right: 7px;
        }
      }
    }
    &-email {
      margin-bottom: 10px;
      @media (min-width: map_get($grid-breakpoints, md)) {
        margin-bottom: 0;
      }
    }
    &-address {
      @media (min-width: map_get($grid-breakpoints, xl)) {
        margin: 40px 0 30px;
      }
    }
  }

  &--socials {
    padding-top: var(--padding-small);
    padding-bottom: var(--padding-small);

    @media (min-width: map_get($grid-breakpoints, md)) {
      padding: 0;
    }

    @media (min-width: map_get($grid-breakpoints, md)) {
      display: flex;
      align-items: center;
    }

    a {
      display: inline-block;
      margin: 0 5px;

      @media (min-width: map_get($grid-breakpoints, md)) {
        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-left: 0;
        }
      }
    }
    .icon {
      width: 32px;
    }
  }

  &--copyrights {
    border-top: 1px solid var(--color-border-dark);
    padding: var(--padding-base);
    font-size: var(--fontsize-smaller);
    color: var(--color-primary);

    @media (min-width: map_get($grid-breakpoints, xl)) {
      text-align: left;
      padding-left: 0;
    }
  }
}
