// Main

.main {
  &-index {
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-large) - var(--padding-base);
    @media (max-width: map_get($grid-breakpoints, lg)) {
      padding-top: var(--padding-medium);
      padding-bottom: var(--padding-medium);
    }
  }
  &--title {
    font-size: var(--fontsize-h1);
    margin-bottom: var(--padding-medium);
  }
  &--content {
    h2 {
      margin-top: var(--padding-medium);
      margin-bottom: var(--padding-base);
    }
  }
}

#main-content {
}

body.index {
  main {
  }
}
