// Mobile Menu

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -420px;
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: $app-color--white;
  @include shadow;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: right 0.3s ease-out;
  &.active {
    right: 0;
  }
  @media (min-width: map_get($grid-breakpoints, md)) {
    display: none;
  }

  &--callback {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    display: flex;
    width: 100%;
    justify-content: center;
    button {
      padding-left: $app-padding--large;
      padding-right: $app-padding--large;
    }
  }

  &--menu {}

  &--footer {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
    background-color: $app-color--white;
    color: $app-color--black;
    .icon {
      color: $app-color--black;
    }
    a {
      color: $app-color--black;
      &:hover {
        color: $app-color--active;
      }
    }
    &--contacts {
      color: $app-color--black;
      border-top: 0;
      &-phone {
        a {
          border-bottom-color: $app-color--black;
          &:before {
            filter: brightness(0) grayscale(1);
          }
          &:hover {
            border-bottom-color: $app-color--active;
          }
        }
      }
      &-email,
      &-address {
        @include text_font_b;
      }
    }
    &--socials {
      margin-top: $app-padding--base ;
      margin-bottom: $app-padding--base;
      padding-bottom: 0;
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border-radius: 50%;
        &:hover {
          background-color: $app-color--primary;
          .icon {
            color: $app-color--white;
          }
        }
      }
      .icon {
        color: $app-color--black;
        width: 20px;
        max-height: 20px;
      }
    }
  }

}

// Externals

body {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

#top {
  transition: opacity 0.3s ease-out;
  &.mobile-menu-open {
    opacity: 0.2;
    pointer-events: none;
  }
}
