// Mobile Menu

.mobile-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  right: -420px;
  min-width: 320px;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  min-height: 100%;
  background-color: $app-color--white;
  @include shadow;
  z-index: 1000;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  transition: right 0.3s ease-out;
  &.active {
    right: 0;
  }
  @media (min-width: map_get($grid-breakpoints, md)) {
    display: none;
  }

  &-wrapper {
    flex-basis: 100%;
    width: 100%;
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
    padding: 0;
    max-height: 100%;
    overflow-y: scroll;
  }

  &--callback {
    padding-top: $app-padding--large;
    padding-bottom: $app-padding--large;
    display: flex;
    width: 100%;
    justify-content: center;
    &--wrapper {
      text-align: center;
    }
    button {
      padding-left: $app-padding--large;
      padding-right: $app-padding--large;
    }
  }

  &--menu {
    &--wrapper {

      .menu-top {

        ul {
          display: flex;
          flex-wrap: wrap;
          margin: 0;
          padding: 0;
          list-style: none;
          > li {
            flex-basis: 100%;
            margin: 0;
            padding: 0;
            &.active {
              &:before {
                opacity: 1;
              }
            }
            &:before {
              opacity: 0;
              margin-top: 14px;
            }
            a {
              @include head_font;
              font-size: $app-fontsize--h3;
              color: $app-color--black;
              text-decoration: none;
              display: block;
              width: 100%;
              padding: 3px 0;
              &:hover {
                color: $app-color--primary;
                text-decoration: underline;
              }
              &.active {
                color: $app-color--primary;
              }
            }

            ul {
              > li {
                a {
                  font-size: $app-fontsize--large;
                  &:hover {
                    color: $app-color--active-hover;
                  }
                }
              }
            }

          }
        }

      }

    }
  }

  &--phone {
    padding-top: $app-padding--medium;
    width: 100%;
    &--wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
    &--button {
      width: 48px;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $app-color--active;
      border-radius: 50%;
      &:hover {
        background-color: $app-color--active-hover;
      }
      .icon {
        color: $app-color--white;
      }
    }
  }

  &--choose-room {
    button {
      font-size: $app-fontsize--medium;
    }
  }

  &--footer {
    padding-top: $app-padding--small;
    padding-bottom: 0;
    background-color: $app-color--white;
    color: $app-color--black;
    .icon {
      color: $app-color--black;
    }
    a {
      color: $app-color--black;
      &:hover {
        color: $app-color--active;
      }
    }
    &--contacts {
      color: $app-color--black;
      border-top: 0;
      &-phone {
        a {
          border-bottom-color: $app-color--black;
          &:before {
            filter: brightness(0) grayscale(1);
          }
          &:hover {
            border-bottom-color: $app-color--active;
          }
        }
      }
      &-email,
      &-address {
        @include text_font_b;
      }
    }
    &--socials {
      margin-top: $app-padding--base ;
      margin-bottom: $app-padding--base;
      padding-bottom: 0;
      a {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: transparent;
        border-radius: 50%;
        &:hover {
          background-color: $app-color--primary;
          .icon {
            color: $app-color--white;
          }
        }
      }
      .icon {
        color: $app-color--black;
        width: 20px;
        max-height: 20px;
      }
    }
  }

}

// Externals

body {
  &.mobile-menu-open {
    overflow: hidden;
  }
}

#top {
  transition: opacity 0.3s ease-out;
  &.mobile-menu-open {
    opacity: 0.2;
    pointer-events: none;
  }
}
