// Pagination

.pagination {
  /*
  display: flex;
  justify-content: center;
  margin: $app-padding--base 0;
  .nav-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 100%;
    .page-numbers {
      display: flex;
      padding: 3px 10px;
      margin: 0 5px;
      @include border-radius;
      background-color: $app-color--active;
      border: 1px solid $app-color--active;
      user-select: none;
      &.current {
        background-color: transparent;
        border-color: $app-color--border;
        &:hover {
          background-color: transparent;
        }
      }
      &.dots {
        background-color: transparent;
        &:hover {
          color: $app-color--white;
        }
      }
      &:hover {
        background-color: $app-color--active-hover;
      }
    }
    a {}
  }
  */
}
