// Cookies

.cookie {
  &-apply {
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    padding: var(--padding-base);
    background-color: var(--color-secondary);
    color: var(--color-black);
    @include shadow;
    display: block;
    z-index: -9999;
    opacity: 0;
    visibility: visible;
    transition: bottom 1.8s ease-in-out;
    bottom: -100%;
    &.active {
      z-index: 9999;
      opacity: 1;
      visibility: visible;
      bottom: 0;
    }
    &--title {
      font-size: var(--fontsize-h3);
      text-transform: uppercase;
      padding-right: var(--padding-largest);
    }
    &--content {
      font-size: var(--fontsize-smaller);
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      p {
        margin-bottom: 0;
      }
    }
    &--close {
      position: absolute;
      right: var(--padding-base);
      top: var(--padding-base);
      user-select: none;
      cursor: pointer;
      .icon {
        width: 12px;
      }
    }
    &--apply {
      margin-left: var(--padding-largest);
      font-size: var(--fontsize-smaller);
    }
  }
}
