// Custom form

.custom-form {
  /*
  border-top: 1px solid $app-color--border;
  padding-top: $app-padding--large;
  padding-bottom: $app-padding--large;
  //background-color: $app-color--background;
  @media (max-width: map_get($grid-breakpoints, md)) {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
  }

  &--title {
    font-size: $app-fontsize--h1;
    margin-bottom: $app-padding--medium;
  }

  &--fields {
    display: flex;
    flex-wrap: wrap;
    .form-field {
      flex-basis: calc(33% - 28px);
      margin: 0 15px 30px;
      @media (max-width: map_get($grid-breakpoints, md)) {
        flex-basis: 100%;
      }
      input {
        width: 100%;
      }
      &-textarea {
        flex-basis: 100%;
        margin: 0 15px 30px;
        textarea {
          width: 100%;
          max-height: 250px;
          min-height: $app-navigation-height;
          resize: vertical;
        }
      }
    }
  }
  &--actions {
    display: flex;
    justify-content: center;
    button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &--privacy {
    text-align: center;
  }
  */
}
