// Custom form

.custom-form {
  /*
  border-top: 1px solid var(--color-border);
  padding-top: var(--padding-large);
  padding-bottom: var(--padding-large);
  //background-color: var(--color-background);
  @media (max-width: map_get($grid-breakpoints, md)) {
    padding-top: var(--padding-medium);
    padding-bottom: var(--padding-medium);
  }

  &--title {
    font-size: var(--fontsize-h1);
    margin-bottom: var(--padding-medium);
  }

  &--fields {
    display: flex;
    flex-wrap: wrap;
    .form-field {
      flex-basis: calc(33% - 28px);
      margin: 0 15px 30px;
      @media (max-width: map_get($grid-breakpoints, md)) {
        flex-basis: 100%;
      }
      input {
        width: 100%;
      }
      &-textarea {
        flex-basis: 100%;
        margin: 0 15px 30px;
        textarea {
          width: 100%;
          max-height: 250px;
          min-height: var(--navigation-height);
          resize: vertical;
        }
      }
    }
  }
  &--actions {
    display: flex;
    justify-content: center;
    button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  &--privacy {
    text-align: center;
  }
  */
}
