// Events

.event {

  // Items page

  &-items {
    @extend .room-items;
  }

  &-item {
    @extend .room-item;

    &--image {}

    &--content {
      @extend .room-item--content;
    }

    &--name {
      @extend .room-item--name;
      h2 {
        margin-bottom: var(--padding-medium);
      }
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      a {
        line-height: 0.9;
        text-decoration: underline;
        @include head_font_i;
        color: var(--color-primary);
        &:hover {
          color: var(--color-black);
        }
      }
    }

    &--seats {
      margin-right: var(--padding-base);
      font-size: var(--fontsize-small);
    }

  }

  // Detail page

  &-detail {

    &--content {
      @extend .room-detail--content;
      background-color: var(--color-white);
      box-shadow: none;
    }

    &--description {
      &--content {
        p {
          font-size: var(--fontsize-small);
          line-height: 1.6;
        }
      }
    }

    &--order {
      padding-top: var(--padding-base);
      padding-bottom: var(--padding-large);
      @include container-md;
      @media (min-width: map_get($grid-breakpoints, lg)) {
        padding-top: var(--padding-large);
        padding-bottom: var(--padding-largest);
      }
      .form--fields {
        .form-field {
          @media (min-width: map_get($grid-breakpoints, lg)) {
            flex-basis: calc(50% - 30px);
          }
        }
      }
    }

    &--seats {
      background-image: url('images/block-bg.png');
      background-size: cover;
      background-position: center;
      background-color: var(--color-secondary);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include head_font;
      margin: 20px;
      padding: 20px 20px 30px;
      text-align: center;
      &--value {
        flex-basis: 100%;
        font-size: var(--fontsize-h2);
        padding-left: 80px;
        padding-right: 80px;
        line-height: 0.9;
        span {
          font-size: 60px;
          color: var(--color-primary);
        }
      }
      .delimiter {
        flex-basis: 100%;
        .icon {
          color: var(--color-primary);
        }
      }
      &--description {
        flex-basis: 100%;
        padding-right: 30px;
        padding-left: 30px;
      }
    }

    &--images {
      @extend .room-detail--images;
      &--nav {
        @extend .room-detail--images--nav;
      }
    }

    &--image-main {
      @media (min-width: map_get($grid-breakpoints, xl)) {
        max-height: 400px;
        display: flex;
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

  }

}


