// Events

.event {

  // Items page

  &-items {
    @extend .room-items;
  }

  &-item {
    @extend .room-item;

    &--image {}

    &--content {
      @extend .room-item--content;
    }

    &--name {
      @extend .room-item--name;
      h2 {
        margin-bottom: var(--padding-medium);
      }
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      a {
        line-height: 0.9;
        text-decoration: underline;
        @include head_font;
        color: var(--color-primary);
        &:hover {
          color: var(--color-black);
        }
      }
    }

    &--seats {
      margin-right: var(--padding-base);
      font-size: var(--fontsize-small);
    }

  }

  // Detail page

  &-detail {

    &--content {
      @extend .room-detail--content;
      background-color: var(--color-white);
      box-shadow: none;
      &--wide {
        width: 100%;
        flex-basis: 100%;
        max-width: 100% !important;
        margin-left: 0 !important;
        margin-right: 0 !important;
        background-color: var(--color-secondary);
        @media (min-width: map_get($grid-breakpoints, xl)) {
          padding-top: var(--padding-extra);
          padding-bottom: var(--padding-extra);
        }
        &-wrapper {
          @include container-md;
          .event-detail--detail-text {
            margin-top: 0;
            .delimiter {
              .icon {
                color: var(--color-primary);
              }
            }
            &--content {
              text-align: center;
              @include head_font;
              font-size: var(--fontsize-large);
            }
          }
        }
      }
    }

    &--menu--download {
      margin-top: var(--padding-large);
      flex-basis: 100%;
      text-align: center;
    }

    &--description {
      &--content {
        p {
          font-size: var(--fontsize-small);
          line-height: 1.6;
        }
      }
    }

    &--order {
      padding-top: var(--padding-base);
      padding-bottom: var(--padding-large);
      @include container-md;
      @media (min-width: map_get($grid-breakpoints, lg)) {
        padding-top: var(--padding-large);
        padding-bottom: var(--padding-largest);
      }
      .form--fields {
        .form-field:not(.form-privacy) {
          @media (min-width: map_get($grid-breakpoints, lg)) {
            flex-basis: calc(50% - 30px);
          }
        }
        .form-privacy {
          flex-basis: 100%;
        }
      }
    }

    &--seats {
      background-image: url('images/block-bg.png');
      background-size: cover;
      background-position: center;
      background-color: var(--color-secondary);
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      @include head_font;
      margin: var(--padding-medium);
      padding: var(--padding-medium) var(--padding-medium) var(--padding-large);
      text-align: center;
      @media (min-width: map_get($grid-breakpoints, xl)) {
        padding-top: var(--padding-extra);
        padding-bottom: var(--padding-extra);
      }
      &--value {
        flex-basis: 100%;
        font-size: var(--fontsize-h2);
        padding-left: 80px;
        padding-right: 80px;
        line-height: 0.9;
        span {
          font-size: 60px;
          color: var(--color-primary);
        }
      }
      .delimiter {
        flex-basis: 100%;
        .icon {
          color: var(--color-primary);
        }
      }
      &--description {
        flex-basis: 100%;
        padding-right: var(--padding-medium);
        padding-left: var(--padding-medium);
      }
    }

    &--images {
      @extend .room-detail--images;
      &--nav {
        @extend .room-detail--images--nav;
      }
    }

    &--image-main {
      @media (min-width: map_get($grid-breakpoints, xl)) {
        max-height: 400px;
        display: flex;
      }
      img {
        width: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

  }

}


