// Front Screen

.front-screen {
  background-image: url("images/front-screen.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: var(--color-white);
  background-color: var(--color-black);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: flex-end;
  flex-wrap: wrap;
  padding: var(--padding-medium);
  text-align: center;
  height: calc(100vh - 100px);
  @media (min-width: map_get($grid-breakpoints, lg)) {
    align-content: center;
  }
  &--title {
    font-size: 40px;
    @include head_font;
    flex-basis: 100%;
    color: var(--color-white);
    line-height: 1.1;
    @media (min-width: map_get($grid-breakpoints, lg)) {
      font-size: 72px;
      max-width: 380px;
    }
  }
  &--delimiter {
    flex-basis: 100%;
    .icon {
      color: var(--color-white);
    }
  }
  &--slogan {
    @include head_font;
    font-size: var(--fontsize-small);
    flex-basis: 100%;
    color: var(--color-white);
    max-width: 135px;
    @media (min-width: map_get($grid-breakpoints, lg)) {
      font-size: var(--fontsize-h1);
      max-width: 260px;
    }
  }
  &--scroller {
    margin-top: var(--padding-largest);
    align-self: flex-end;
    flex-basis: 100%;
    .icon {
      color: var(--color-white);
    }
  }
}
