// Offers

.offer {

  // Block

  &-block {
    background-color: var(--color-white);
    &--wrapper {
      @include container-md;
      @include container-lg;
      @include container-xl;
    }
    .offer-item {
      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: calc(100% - 20px) !important;
      }
    }
  }
  &-title {
    @extend .room-title;
  }
  &-all {
    @extend .room-all;
  }
  &-nav {
    @extend .room-nav;
  }

  // Items page

  &-items {
    @extend .room-items;
  }

  &-item {
    @extend .room-item;

    &--image {}

    &--content {
      @extend .room-item--content;
    }

    &--name {
      @extend .room-item--name;
      h2 {
        margin-bottom: var(--padding-medium);
      }
    }

    &--actions {
      display: flex;
      justify-content: flex-end;
      a {
        font-size: var(--fontsize-small);
      }
    }

  }

  // Detail page

  &-detail {

    &--content {
      @extend .room-detail--content;
      background-color: var(--color-white);
      box-shadow: none;
    }

    &--description {
      &--content {
        p {
          font-size: var(--fontsize-small);
          line-height: 1.6;
        }
      }
    }

    &--order {
      padding-top: var(--padding-base);
      padding-bottom: var(--padding-large);
    }

    &--images {
      @extend .room-detail--images;
      &--nav {
        @extend .room-detail--images--nav;
      }
    }

    &--image-main {
      @extend .event-detail--image-main;
    }

    &--backlink {
      @extend .room-detail--backlink;
    }
    &--phone {
      @extend .room-detail--backlink;
      @include head_font;
      font-size: var(--fontsize-large);
      color: var(--color-active);
      margin-bottom: var(--padding-large);
      a {
        @include head_font;
        color: var(--color-active);
        &:hover {
          color: var(--color-active-hover);
        }
      }
    }

  }

}


