// Restaurants

.restaurant {

  // Items page

  &-items {
    @extend .room-items;
  }

  &-item {
    @extend .room-item;

    &--image {}

    &--content {
      @extend .room-item--content;
    }

    &--name {
      @extend .room-item--name;
      h2 {
        margin-bottom: var(--padding-medium);
      }
    }

    &--description {
      @extend .room-item--description;
    }

    &--actions {
      display: flex;
      justify-content: flex-end;
      margin-top: var(--padding-small);
      a {
        text-decoration: underline;
        @include head_font_i;
        color: var(--color-primary);
        &:hover {
          color: var(--color-black);
        }
      }
    }
  }

  // Detail page

  &-detail {

    &--content {
      @extend .room-detail--content;
      background-color: var(--color-white);
      box-shadow: none;
    }
    &--description {
      &--content {
        p {
          font-size: var(--fontsize-small);
          line-height: 1.6;
          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
    &--order {
      @extend .event-detail--order;
    }

    &--image-main {
      @extend .event-detail--image-main;
    }

    &--images {
      @extend .room-detail--images;
      &--nav {
        @extend .room-detail--images--nav;
      }
    }

    &--menu {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &--title {
        flex-basis: 100%;
        text-align: center;
        font-size: var(--fontsize-h2);
      }
      &--delimiter {
        text-align: center;
        flex-basis: 100%;
        color: var(--color-primary);
      }
      &--about {
        font-size: var(--fontsize-small);
        line-height: 1.6;
        text-align: left;
        margin-bottom: var(--padding-base);
      }
      &--download {
        flex-basis: 100%;
      }
    }

    &--detail-text {
      margin-top: var(--padding-large);
      background-color: var(--color-secondary);
      padding: var(--padding-base);
      font-size: var(--fontsize-large);
      line-height: 1.4;
      text-align: center;
      @include head_font;
      .delimiter {
        text-align: center;
        color: var(--color-primary);
      }
      &--content {
        margin-bottom: var(--padding-base);
      }
    }

  }

}
