// Rooms

.room {

  // Block

  &-block {
    background-color: var(--color-secondary);
    &--wrapper {
      @include container-sm;
      @include container-lg;
      @include container-xl;
    }
    .room-item {
      box-shadow: none;
      @media (min-width: map_get($grid-breakpoints, sm)) {
        width: calc(100% - 20px) !important;
        @include shadow;
      }
    }
  }
  &-title {
    width: 100%;
    text-align: center;
    padding-top: var(--padding-largest);
    padding-bottom: var(--padding-medium);
    h2 {
      font-size: var(--fontsize-h1);
    }
    .delimiter {
      color: var(--color-primary);
    }
  }
  &-all {
    width: 100%;
    padding-top: var(--padding-large);
    padding-bottom: var(--padding-largest);
    text-align: center;
    a {
      color: var(--color-black);
      text-transform: uppercase;
      @include head_font;
      letter-spacing: 2px;
      &:hover {
        color: var(--color-active-hover);
      }
    }
  }
  &-nav {
    position: relative;
    display: flex;
    justify-content: center;

    .slider--navigation.room-slider--navigation {
      .owl-prev,
      .owl-next {
        background-color: var(--color-white);
        &:hover {
          background-color: var(--color-primary);
        }
        &.disabled {
          background-color: transparent;
        }
      }
    }
    .slider--dots.room-slider--dots {
      .owl-dot {
        background-color: var(--color-white);
        &.active {
          background-color: var(--color-primary);
        }
      }
    }

  }

  // Items page

  &-items {
    @include container-md;
    @include container-lg;
    @include container-xl;
    @media (min-width: map_get($grid-breakpoints, sm)) {
      @include justify;
      margin-bottom: var(--padding-large);
    }
  }

  &-item {
    padding-bottom: var(--padding-medium);
    position: relative;
    @include shadow;

    &:not(.room-detail) {
      @media (min-width: map_get($grid-breakpoints, md)) {
        width: calc(50% - 20px);
        margin: 0 var(--padding-small) var(--padding-medium);
        padding: 0;
      }
      @media (min-width: map_get($grid-breakpoints, lg)) {
        width: calc(100% / 3 - 20px);
      }
    }

    &--image {
      img {
        width: 100%;
        max-height: 240px;
      }
    }

    &--content {
      padding: var(--padding-medium) var(--padding-medium) var(--padding-large);
      background-color: var(--color-white);
    }

    &--name {
      @media (min-width: map_get($grid-breakpoints, md)) {
        min-height: 60px;
      }
      h2 {
        margin-bottom: var(--padding-base);
        a {
          text-decoration: none;
          color: var(--color-black);
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    &--description {
      font-size: var(--fontsize-smaller);
      line-height: 1.5;
    }

    &--info {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 26px;
      margin-top: var(--padding-medium);
      &--customers {
        .icon {
          color: var(--color-primary);
          width: 12px;
          margin-right: 5px;
        }
      }
      &--room {
        @include head_font_i;
        font-size: var(--fontsize-small);
        color: var(--color-primary);
        .icon {
          color: var(--color-primary);
          width: 16px;
          margin-right: 5px;
        }
      }
    }

    &--actions {
      display: flex;
      justify-content: space-between;
      margin-top: var(--padding-medium);
      a.btn-white {
        font-size: var(--fontsize-smaller);
      }
      a.btn-link {
        padding-left: var(--padding-large);
        padding-right: var(--padding-large);
      }
    }

    &--stickers {
      position: absolute;
      top: 0;
      left: 35px;
      z-index: 1;
    }
    &--sticker {
      background-image: url("images/sticker.svg");
      background-position: bottom center;
      background-size: 30px 70px;
      background-repeat: no-repeat;
      width: 30px;
      height: 70px;
      span {
        color: var(--color-white);
        @include text_font_b;
        display: block;
        top: var(--padding-medium);
        position: relative;
        transform: rotate(-90deg);
      }
      &--hit {}
    }
  }

  // Detail page

  &-detail {
    @extend .room-item;
    box-shadow: none;

    &--title {}

    &--content {
      @extend .room-item--content;
      @media (min-width: map_get($grid-breakpoints, lg)) {
        padding-top: var(--padding-largest);
        padding-bottom: var(--padding-largest);
      }
      box-shadow: none;
      @include container-lg;

      &-bottom {
        @extend .room-item--content;
        padding-top: 0;
        box-shadow: none;
        @media (min-width: map_get($grid-breakpoints, md)) {
          padding-top: initial;
        }
      }
    }

    &--promo {
      padding: var(--padding-medium);
      @include head_font;
    }

    &--images {
      @include container-xl;
      position: relative;
      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        li {
          margin: 0;
          padding: 0;
          max-height: map_get($container-max-widths, sm);
          &:before {
            display: none;
          }
          img {
            max-width: 100%;
            object-fit: cover;
          }
        }
      }
      &--nav {
        padding-top: var(--padding-medium);
        padding-bottom: 0;
        background-color: var(--color-white);
        position: relative;
        @include container-sm;
        @include container-xl;
        @media (min-width: map_get($grid-breakpoints, md)) {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }

    &--image-main {
      width: 100%;
      display: flex;
      max-height: 360px;
      @include container-md;
      img {
        object-fit: cover;
        object-position: center;
      }
    }

    &--price {
      margin-bottom: var(--padding-small);
      color: var(--color-black);
      font-size: var(--fontsize-h2);
      @include head_font_bi;
      .icon.icon-rouble {
        font-size: var(--fontsize-medium);
        margin-top: -3px;
      }

      @media (min-width: map_get($grid-breakpoints, sm)) {
        margin-bottom: 0;
        font-size: 30px;

        .icon.icon-rouble {
          font-size: 20px;
          margin-top: -4px;
        }
      }

      &-wrapper {
        @media (min-width: map_get($grid-breakpoints, sm)) {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: var(--padding-base);
          margin-bottom: var(--padding-medium);
        }
      }

      &-book {
        display: none;
      }

      @media (min-width: map_get($grid-breakpoints, md)) {
        &-book {
          display: flex;
          padding-left: 60px;
          padding-right: 60px;
          height: 40px;
          width: auto;
        }
      }
    }

    &--info {
      @extend .room-item--info;
      margin-top: 0;
      &--customers {
        @extend .room-item--info--customers;
        @media (min-width: map_get($grid-breakpoints, md)) {
          margin-right: 30px;
        }
      }
      &--room {
        @extend .room-item--info--room;
      }
    }

    &--actions {
      @extend .room-item--actions;

      @media (min-width: map_get($grid-breakpoints, sm)) {
        &:not(.room-detail--actions--bottom) {
          margin: var(--padding-large) 0;
        }
        .btn {
          width: auto;
          margin: 0 auto;
          padding-left: var(--padding-extra);
          padding-right: var(--padding-extra);
        }
      }

      @media (min-width: map_get($grid-breakpoints, lg)) {
        &:not(.room-detail--actions--bottom) {
          display: none;
        }
      }

      &--bottom {
        margin-top: 0;
      }
    }

    &--description,
    &--room-services,
    &--accomodations {
      padding-top: var(--padding-medium);
      &--title {
        background-color: var(--color-primary);
        padding: var(--padding-base) var(--padding-medium);
        color: var(--color-white);
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--fontsize-h3);
        @include head_font;
        .icon.icon-shevron {
          width: 12px;
        }
      }
      &--content {
        margin-top: var(--padding-medium);
        ul {
          display: flex;
          flex-wrap: wrap;
          li {
            flex-basis: 100%;
            @media (min-width: map_get($grid-breakpoints, lg)) {
              flex-basis: 50%;
              padding-right: var(--padding-large);
            }
            @media (min-width: map_get($grid-breakpoints, xl)) {
              flex-basis: 33.333%;
            }
          }
        }

      }
    }

    &--3d {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: var(--padding-base);
      margin-bottom: var(--padding-base);

      @media (min-width: map_get($grid-breakpoints, sm)) {
        padding: var(--padding-large) 0 var(--padding-small);

        .btn {
          font-size: 30px;
        }
      }

      @media (min-width: map_get($grid-breakpoints, xl)) {
        padding-top: var(--padding-extra);
      }

      button {
        flex-basis: 100%;
        font-size: var(--fontsize-h2);
      }
      .delimiter {
        text-align: center;
        .icon {
          color: var(--color-primary);
        }
      }
    }

    &--backlink {
      margin: var(--padding-medium) 0;
      text-align: center;
      @media (min-width: map_get($grid-breakpoints, md)) {
        margin-top: var(--padding-largest);
        margin-bottom: var(--padding-largest);
      }
      @media (min-width: map_get($grid-breakpoints, xl)) {
        margin-top: var(--padding-extra);
        margin-bottom: var(--padding-extra);
      }
      a {
        @include head_font_i;
        font-size: var(--fontsize-large);
        color: var(--color-primary);
        text-decoration: underline;
        &:hover {
          color: var(--color-black);
        }
      }
    }

    &--stickers {
      @extend .room-item--stickers;
    }
  }
}
