// Services

.service {
  &-items {}

  &-item {
    @extend .room-item;

    &--image {}

    &--content {
      @extend .room-item--content;
    }

    &--name {
      @extend .room-item--name;
      h2 {
        margin-bottom: $app-padding--medium;
      }
    }

    &--actions {
      display: flex;
      justify-content: flex-end;
      a {
        font-size: $app-fontsize--small;
      }
    }

  }
}

.service-detail {
  &--content {
    @extend .room-detail--content;
    background-color: $app-color--white;
    box-shadow: none;
  }
  &--description {
    &--content {
      p {
        font-size: $app-fontsize--small;
        line-height: 1.6;
      }
    }
  }
  &--actions {
    margin-top: $app-padding--medium;
    margin-bottom: $app-padding--medium;
  }
}
