// mixins

@mixin iconnear {
  min-width: 18px;
  max-width: 18px;
  max-height: 20px;
  margin-right: 12px;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin shadow-lg {
  box-shadow: 0 6px 26px rgba(#000, 0.2);
}

@mixin shadow {
  box-shadow: 0 4px 20px rgba(#000, 0.1);
}

@mixin shadow-sm {
  box-shadow: 0 1px 4px rgba(#000, 0.1);
}

@mixin isInvisible {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
  position: absolute;
}

@mixin isVisible {
  visibility: visible;
  opacity: 1;
}

@mixin head_font {
  font-family: "Minion Pro", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin head_font_i {
  font-family: "Minion Pro Italic", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin head_font_bi {
  font-family: "Minion Pro Bold Italic", serif;
  font-weight: 400;
  font-style: normal;
}

@mixin text_font {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

@mixin text_font_b {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@mixin ruble {
  font-family: "Rouble", serif;
  font-weight: normal;
  font-style: normal;
}

// Flexes

@mixin justify {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (min-width: map_get($grid-breakpoints, lg)) {
    justify-content: flex-start;
  }
}

// Media queries

@mixin container-sm {
  @media (min-width: map_get($grid-breakpoints, xs)) {
    margin-left: var(--padding-base);
    margin-right: var(--padding-base);
    max-width: map_get($container-max-widths, sm);
  }
}

@mixin container-md {
  @media (min-width: map_get($grid-breakpoints, sm)) {
    margin-left: auto;
    margin-right: auto;
    max-width: map_get($container-max-widths, md);
  }
}

@mixin container-lg {
  @media (min-width: map_get($grid-breakpoints, md)) {
    margin-left: auto;
    margin-right: auto;
    max-width: map_get($container-max-widths, lg);
  }
}

@mixin container-xl {
  @media (min-width: map_get($grid-breakpoints, lg)) {
    margin-left: auto;
    margin-right: auto;
    max-width: map_get($container-max-widths, xl);
  }
}

@mixin container-xxl {
  @media (min-width: map_get($grid-breakpoints, xl)) {
    margin-left: auto;
    margin-right: auto;
    max-width: $container-max-widths--xxl;
  }
}

@mixin container-wide {
  margin-left: 0;
  margin-right: 0;
  max-width: 100%;
  width: 100%;
  flex-basis: 100%;
}
