// Base

html {
  display: block;
  height: 100%;
}

body {
  padding: 0;
  position: relative;
  @include text_font;
  color: $app-color--black;
  background: $app-color--white;
  font-size: 15px;
  line-height: normal;
  min-height: 100%;
  display: block;
  margin: 0 auto;
}

body.bx-editor {
  @include text_font;
}

/*** BX FIX ***/
body span.bx-context-toolbar,
body span.bx-context-toolbar a {
  font: 0 Tahoma, sans-serif !important;
}

#svg-container {
  display: none;
}

#top {
  overflow: hidden;
}

#panel {
  width: 100%;
  flex-basis: 100%;
}

// Helpers

.unselectable {
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.none {
  display: none
}

.none-v {
  visibility: hidden
}

.relative {
  position: relative
}

// Sprites

@include sprites($spritesheet-sprites);

i.icon {
  display: inline-flex;
}
