// Button

.btn,
button {
  height: $app-button-height;
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  border: 1px solid $app-color--active;
  display: inline-flex;
  text-decoration: none !important;
  background-color: $app-color--active;
  color: $app-color--white;
  align-items: center;
  justify-content: center;
  @include head_font;
  font-size: $app-fontsize--base;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  //transition: background-color 0.2s ease-in-out;
  //@include border-radius;
  &:hover,
  &:focus {
    color: $app-color--white;
    background-color: $app-color--active-hover;
    border-color: $app-color--active-hover;
  }
  &[disabled],
  &.disabled {
    pointer-events: none;
  }
}

.btn {

  // Button Sizes
  &-noradius {
    border-radius: 0 !important;
  }
  &-wide {
    height: $app-button-height-wide;
    width: 100%;
  }
  &-block {
    min-width: 300px;
  }
  &-sm {
    height: $app-button-height-sm;
    font-size: $app-fontsize--base;
  }

  // Button Colors

  &-white {
    background-color: $app-color--white;
    color: $app-color--black !important;
    border-color: $app-color--black;
    &:hover {
      background-color: $app-color--active;
      color: $app-color--white !important;
      border-color: $app-color--active;
    }
  }

  // Link Button
  &-link {
    color: $app-color--active;
    background: transparent;
    padding: 0;
    margin: 0;
    display: inline-flex;
    height: initial;
    line-height: initial;
    text-decoration: underline;
    &:hover {
    }
    &-inverse {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

}

