// Button

.btn,
button {
  height: var(--button-height);
  padding-left: 10px;
  padding-right: 10px;
  user-select: none;
  border: 1px solid var(--color-active);
  display: inline-flex;
  text-decoration: none !important;
  background-color: var(--color-active);
  color: var(--color-white);
  align-items: center;
  justify-content: center;
  @include head_font;
  font-size: var(--fontsize-base);
  text-transform: uppercase;
  letter-spacing: 0.1em;
  //transition: background-color 0.2s ease-in-out;
  //@include border-radius;
  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-active-hover);
    border-color: var(--color-active-hover);
  }
  &[disabled],
  &.disabled {
    pointer-events: none;
  }
}

.btn {

  &-default {
    border: 1px solid var(--color-active);
    background-color: var(--color-active);
    color: var(--color-white) !important;
    &:hover,
    &:focus {
      background-color: var(--color-active-hover);
      border-color: var(--color-active-hover);
    }
  }

  // Button Sizes
  &-noradius {
    border-radius: 0 !important;
  }
  &-wide {
    height: var(--button-height-wide);
    width: 100%;
  }
  &-block {
    min-width: 300px;
  }
  &-sm {
    height: var(--button-height-sm);
    font-size: var(--fontsize-base);
  }

  // Button Colors

  &-white {
    background-color: var(--color-white);
    color: var(--color-black) !important;
    border-color: var(--color-black);
    &:hover {
      background-color: var(--color-active);
      color: var(--color-white) !important;
      border-color: var(--color-active);
    }
  }

  &-gold {
    background-color: var(--color-primary);
    color: var(--color-white) !important;
    border-color: var(--color-primary);
    &:hover {
      background-color: var(--color-black);
      color: var(--color-white) !important;
      border-color: var(--color-black);
    }
  }

  // Link Button
  &-link {
    color: var(--color-black) !important;
    background: transparent;
    margin: 0;
    display: inline-flex;
    height: initial;
    line-height: initial;
    text-decoration: underline;
    border-color: transparent;
    text-transform: none;
    letter-spacing: initial;
    &:hover {
      color: var(--color-active) !important;
      text-decoration: underline !important;
      border-color: transparent;
      background-color: transparent;
    }
    &-inverse {
      text-decoration: none;
      &:hover {
        text-decoration: none;
      }
    }
  }

}

