// form elements

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

textarea,
select,
input {
  height: $app-navigation-height;
  //@include border-radius;
  border: 1px solid $app-color--border;
  padding-left: $app-padding--base;
  padding-right: $app-padding--base;
  font-size: $app-fontsize--small;
  &:focus {
    border-color: $app-color--primary;
  }
  &:invalid {
    //border-color: $app-color--active-dark;
    outline: none;
    box-shadow: none;
  }

  &[type="search"] {
  }

  &[type="radio"],
  &[type="checkbox"] {
  }

  &[type="file"] {
  }

  &[type="range"] {
  }

  &[type="search"] {
    -webkit-appearance: none;
  }

}

textarea {
  height: initial;
  padding-top: 15px;
  padding-bottom: 15px;
}

select[multiple],
select[size] {
  height: auto;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

output {
  display: block;
  padding-top: 7px;
  line-height: 1.42857143;
  color: $app-color--secondary;
}

legend {}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
  min-width: 0;
}

// Default form

.form {
  border-top: 1px solid $app-color--border;
  padding-top: $app-padding--large;
  padding-bottom: $app-padding--large;
  background-color: transparent;
  @media (max-width: map_get($grid-breakpoints, md)) {
    padding-top: $app-padding--medium;
    padding-bottom: $app-padding--medium;
  }

  &--title {
    font-size: $app-fontsize--h1;
    margin-bottom: $app-padding--large;
  }

  &--description {
    font-size: $app-fontsize--base;
    margin-bottom: $app-padding--large;
    padding-left: $app-padding--small;
    padding-right: $app-padding--small;
  }

  &--fields {
    display: flex;
    flex-wrap: wrap;
    .form-field {
      flex-basis: calc(33% - 28px);
      margin: 0 15px 30px;
      @media (max-width: map_get($grid-breakpoints, md)) {
        flex-basis: 100%;
      }
      input {
        width: 100%;
      }
      &-textarea {
        flex-basis: 100%;
        margin: 0 15px 30px;
        textarea {
          width: 100%;
          max-height: 250px;
          min-height: $app-navigation-height;
          resize: vertical;
        }
      }
      .has-error {
        border-color: $app-color--active !important;
      }
    }
  }

  &--actions {
    display: flex;
    justify-content: center;
    button {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  &-privacy {
    text-align: left;
    label {
      display: inline-flex !important;
      font-size: $app-fontsize--small;
      position: relative;
      overflow: hidden;
      &:before {
        content: "";
        min-width: 18px;
        width: 18px;
        height: 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        background-color: $app-color--primary;
        color: $app-color--white;
      }
      .icon-check {
        position: absolute;
        top: -100%;
        left: 4px;
        width: 10px;
        height: 8px;
        color: $app-color--white;
        transition: top 0.2s ease-in-out;
      }
      a {
        color: $app-color--black;
      }
    }
    input {
      display: none;
      &:checked + label {
        &:before {}
        .icon-check {
          top: 5px;
        }

      }
    }
  }

  &-field {
    margin-bottom: $app-padding--small;
    position: relative;
    &-error {
      display: inline-flex;
      color: $app-color--active;
      font-size: $app-fontsize--smaller;
      margin: 0;
      padding: 0;
      position: relative;
      top: 3px;
      left: 0;
      //background-color: $app-color--active-dark;
      @include border-radius;
      ~ input,
      ~ select,
      ~ textarea {
        //border-color: $app-color--active-dark;
      }
    }
    label {
      display: none;
    }
  }

  &-error {
    flex-basis: 100%;
    width: 100%;
    display: inline-flex;
    color: $app-color--white;
    font-size: $app-fontsize--smaller;
    margin: 15px 0 0;
    padding: 3px 5px;
    //background-color: $app-color--active-dark;
    @include border-radius;
    justify-content: center;
  }

}
