// Error & OK messages

.errortext,
.starrequired {
  color: var(--color-error);
}

.errortext,
.notetext {
  display: block;
  margin: 0;
  padding: 0.4em 1.117em;
  border: 1px solid var(--color-error);
  //background-color: var(--color-background);
  ul {
    padding: 0.3em 0 0.3em 2em;
    margin: 0;
    li {
      margin: 0;
      padding: 0;
    }
  }
}
