// Typography

// Headers

h1,
h2,
h3,
h4,
h5 {
  color: $app-color--black;
  @include head_font;
  line-height: 1;
}

h1 {
  font-size: $app-fontsize--h1;
}

h2 {
  font-size: $app-fontsize--h2;
}

h3 {
  font-size: $app-fontsize--h3;
}

h4 {
}

.big {
  font-size: $app-fontsize--big;
}
.h1 {
  font-size: $app-fontsize--h1;
}
.h2 {
  font-size: $app-fontsize--h2;
}
.h3 {
  font-size: $app-fontsize--h3;
}
.h4 {
  font-size: $app-fontsize--h4;
}

.page-title {
  margin-bottom: $app-padding--large;
}

strong,
b {
  font-weight: 500;
}

// Links

a,
a:link,
a:visited {
  color: $app-color--active;
  text-decoration: underline;
}

a {
  &:hover {
    text-decoration: underline;
    color: $app-color--black;
  }
  &:active {
    text-decoration: none;
  }
}

a img,
a:link img,
a:visited img {
  border: none;
}

// Lists

ul {
  list-style: none;
  padding-left: 10px;
  li {
    margin-bottom: 10px;
    display: flex;
    &:before {
      display: inline-block;
      content: "";
      background-image: url("images/romb.svg");
      background-position: center;
      background-size: 10px;
      width: 10px;
      min-width: 10px;
      height: 10px;
      margin-right: 8px;
      margin-top: 4px;
    }
  }
}

.page-title {
  text-align: center;
  padding-left: $app-padding--medium;
  padding-right: $app-padding--medium;

  @media (min-width: 480px) {
    margin-bottom: 40px;
  }
}
