// Colors

:root {

  // Colors

  --color-white: #fff;
  --color-black: #1e1e1e;

  --color-primary: #cabcaa;
  --color-secondary: #f4efe4;
  --color-border: #e9e6e2;
  --color-border-dark: #333;

  --color-active: #c12032;
  --color-active-hover: #ae1829;

  --color-error: #ff7070;
  --color-success: #3afad6;
  --color-warning: #d9cb9e;

  --color-background: #f8f8f8;

  // Fonts

  --fontsize-big: 36px;

  --fontsize-h1: 30px;
  --fontsize-h2: 25px;
  --fontsize-h3: 20px;
  --fontsize-h4: 18px;

  --fontsize-large: 18px;
  --fontsize-medium: 16px;
  --fontsize-base: 15px;
  --fontsize-small: 14px;
  --fontsize-smaller: 12px;

  // Paddings

  --padding-small: 10px;
  --padding-base: 15px;
  --padding-medium: 20px;
  --padding-large: 30px;
  --padding-largest: 50px;
  --padding-extra: 70px;

  // Other

  --border-radius: 0;

  --button-height: 40px;
  --button-height-sm: 30px;
  --button-height-wide: 50px;
  --search-height: 40px;

  --navigation-height: 50px;

  --color-tooltip-bg: #c4c4c4;
  --color-tooltip-color: var(--color-primary);

  // Screen sizes

  --screen-xl: 1266px;
  --screen-lg: 1024px;
  --screen-md: 768px;
  --screen-sm: 576px;

}
